version: '3.8'

services:
  nginx:
    build: ./nginx
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./public:/usr/share/nginx/html/public
      - uploads:/usr/share/nginx/html/uploads
    depends_on:
      - server

  mongo:
    image: mongo:4.2.5
    volumes:
      - mongo-data:/data/db

  server:
    build: .
    restart: always
    environment:
      WAIT_HOSTS: mongo:27017
    ports:
      - 8080:8080
    volumes:
      - uploads:/app/uploads
    depends_on:
      - mongo

volumes:
  uploads:
  mongo-data:
